@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css');
@import url('//fonts.googleapis.com/css?family=Lato:400,300italic');

@-webkit-keyframes pulse {
    0% {
        opacity: 0;
        margin: 0;
        padding: 0;
    }
    50% {
        opacity: .1;
        margin: -6px -10px;
        padding: 6px 10px;
    }
    100% {
        opacity: 0;
        margin: 0;
        padding: 0;
    }
}

@-moz-keyframes pulse {
    0% {
        opacity: .05;
        margin: 0;
        padding: 0;
    }
    50% {
        opacity: .2;
        margin: -6px -10px;
        padding: 6px 10px;
    }
    100% {
        opacity: .05;
        margin: 0;
        padding: 0;
    }
}

@-o-keyframes pulse {
    0% {
        opacity: .05;
        margin: 0;
        padding: 0;
    }
    50% {
        opacity: .2;
        margin: -6px -10px;
        padding: 6px 10px;
    }
    100% {
        opacity: .05;
        margin: 0;
        padding: 0;
    }
}

@keyframes pulse {
    0% {
        opacity: .05;
        margin: 0;
        padding: 0;
    }
    50% {
        opacity: .2;
        margin: -6px -10px;
        padding: 6px 10px;
    }
    100% {
        opacity: .05;
        margin: 0;
        padding: 0;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: normal 400 14px/1.42857143 Lato, 'Helvetic Neue', Helvetica, Arial, sans-serif;
    color: #333333;
}

.header {
    text-align: center;
    font-size: 16px;
}

.header > h1 {
    font-size: 2.5em;
}

.footer p {
    text-align: center;
}

.container {
    width: 100%;
    margin: 20px auto;
}

.media {
    width: 100%;
    height: auto;
}

.container,
.media {
    will-change: width, height;
    transition: width .3s, height .3s;
}

@media (min-width: 340px) {
    .container {
        width: 300px;
    }

    .media {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 640px) {
    .container {
        width: 600px;
    }

    .media {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 940px) {
    .container {
        width: 900px;
    }

    .media {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 1240px) {
    .container {
        width: 1200px;
    }
}

.media-grid:before,
.media-grid:after {
    display: table;
    content: ' ';
}

.media-grid:after {
    clear: both;
}

.media {
    padding: 10px;
    float: left;
}

.media-preview {
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.media-image {
    max-width: 100%;
    display: block;
}

.media-caption {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;

    border-radius: 5px;
    background-color: rgba(0, 0, 0, .4);
    color: #ffffff;
    font-size: 18px;
    padding: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;

    will-change: opacity;
    transition: opacity .2s ease-in-out;
}

.media:hover .media-caption {
    opacity: 1;
}

a {
    position: relative;
    display: inline-block;
    color: #00beeb;
    text-decoration: none;
    z-index: 1;
    transition: color .2s;
}

a:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 3px;
    z-index: -1;
    transition: opacity .2s,
                margin .2s,
                padding .2s;
}

a:before {
    background-color: #00beeb;
}

a:hover,
a:active {
    color: #fff;
}

a:hover:before,
a:active:before {
    opacity: 1;
    margin: -4px -8px;
    padding: 4px 8px;
}

a:active:before {
    background-color: #00a3ca;
}

a.pulse:not(:hover):before {
    -webkit-animation: pulse 1.5s ease-in-out infinite;
    -moz-animation: pulse 1.5s ease-in-out infinite;
    -o-animation: pulse 1.5s ease-in-out infinite;
    animation: pulse 1.5s ease-in-out infinite;
}

a.promo {
    color: #FD6E8A;
}

a.promo:hover,
a.promo:active {
    color: #fff;
}

a.promo:before {
    background-color: #FD6E8A;
}

a.promo > small {
    display: block;
    font-size: 12px;
}